@import url(../fonts/sunflower/stylesheet.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html {
    line-height: 1.15;
}
  
/* *, *:before, *:after {
    box-sizing: border-box;
} */
input, .w-col {
    box-sizing: border-box;
}

.creditcard .grey {
    fill: #616161;
}
#cardfront .st8,
#cardback .st10 {
    font-size: 1.9rem;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
 body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 12px;
    background-color: #262d2d;
}

a {
    text-decoration: none;
}

h1,h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 72px;
    font-weight: 900;
    letter-spacing: -1.25px
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 56px;
    font-weight: 900
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 900
}

h5 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 27px;
    line-height: 32px;
    font-weight: 700
}

h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700
}

.w-error-msg {
    display: inline-block;
    color: #ea384c;
    padding: 2px 0
}

.main {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.width-full {
    width: 100%;
}


.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-container:after,.w-container:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-container:after {
    clear: both
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
}

.w-row:after,.w-row:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2
}

.w-row:after {
    clear: both
}

.w-row .w-row {
    margin-left: 0;
    margin-right: 0
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}
.w-col .w-col {
    padding-left: 0;
    padding-right: 0
}

.w-col-1 {
    width: 8.33333333%
}

.w-col-2 {
    width: 16.66666667%
}

.w-col-3 {
    width: 25%
}

.w-col-4 {
    width: 33.33333333%
}

.w-col-5 {
    width: 41.66666667%
}

.w-col-6 {
    width: 50%
}

.w-col-7 {
    width: 58.33333333%
}

.w-col-8 {
    width: 66.66666667%
}

.w-col-9 {
    width: 75%
}

.w-col-10 {
    width: 83.33333333%
}

.w-col-11 {
    width: 91.66666667%
}

.w-col-12 {
    width: 100%
}

@media only screen and (max-width: 749px){
    .creditcard {
        max-width: 302px;
        height: 197px;
    }
    .w-col-3 {
        width: 50%
    }
    .w-col-4, .w-col-6, .w-col-8 {
        width: 100%
    }
}

/* Header
   ========================================================================== */

header {
    width: 100%;
    height: auto;
    position: fixed;
    padding: 1em 0;
    z-index: 99;
    transition: all 300ms ease-in-out;
    background: #262d2d;
    color: #fff;
}
header .wrap {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
header nav {
    width: 90%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: #262d2d;
    transition: all .3s ease-in-out;
}
@media only screen and (min-width: 750px){
    header nav {
        width: auto;
        height: auto;
        position: relative;
        top: auto;
        right: auto;
        background: transparent;
    }
}
header.open nav {
    right: 0;
}
header nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    display: flex;
    margin: 80px 0 0 0;
    padding: 0;
    align-items: baseline;
}
@media only screen and (min-width: 750px){
    header nav ul {
        align-content: space-between;
        justify-content: center;
        flex-direction: row;
        margin: 0;
    }
}

header nav ul li {
    width: 100%;
}
@media only screen and (min-width: 750px){
    header nav ul li {
        width: auto;
        padding-right: 40px;
    }
}

header nav ul li a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    display: block;
    padding: 15px 0px;
    padding-left: 40px;
}
@media only screen and (min-width: 750px){
    header nav ul li a {
        padding: 0;
    }
}
header .logo-mini {
    position: relative;
    margin: 39px auto 0;
    left: 0px;
    right: 0;
    width: 100%;
    max-width: 40px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
@media only screen and (min-width: 750px){
    header .logo-mini {
        max-width: 80px;
    }
}
@media only screen and (min-width: 960px){
    header .logo-mini {
        position: absolute;
        margin: 0 auto 0;
    }
}
.checkout-page header .logo-mini {
    margin: 0 auto 0;
    margin-left: 20px;
    opacity: 1;
}
@media only screen and (min-width: 960px){
    .checkout-page header .logo-mini {
        margin: 0 auto 0;
    }
}
header .logo-mini img {
    width: 100%;
}

header ul.right-menu {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    display: flex;
    padding: 0;
    align-items: baseline;
}
@media only screen and (min-width: 750px){
    header ul.right-menu {
        width: auto;
    }
}
header ul.right-menu li {
    margin-left: 25px;
}
header ul.right-menu li a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

.hamb {
    position: relative;
    z-index: 100;
    cursor: pointer;
    display: block;
    padding: 10px;
    padding: 0px;
}
@media only screen and (min-width: 750px){
    .hamb {
        display: none;
    }
}
.hamb .hamb-content {
    height: 13px;
    width: 21px;
    position: relative;
}
.hamb span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 200ms ease-in-out;
}
.hamb span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
.hamb.open span:nth-child(1) {
    transform: rotate(35deg);
}
.hamb span:nth-child(2) {
    top: 5px;
    transform-origin: left center;
}
.hamb.open span:nth-child(2) {
    display: none;
}
.hamb span:nth-child(3) {
    top: 10px;
    transform-origin: left center;
}
.hamb.open span:nth-child(3) {
    top: 12px;
    transform: rotate(-35deg);
}

/* Form
   ========================================================================== */

.moduloCheckout {
    padding-top: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
}

form {
    width: 100%;
}
.form-field-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 50px;
}
.form-input > input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.w-input, .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
}

.chipImage {
    fill: #b79b00 !important;
}

.form-container {
    padding: 35px;
    border: 1px solid #15232b;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 35px;
}

.form-container.box-shadow.no-border {
    border-style: none;
}
.box-shadow {
    background-color: #fff;
    box-shadow: 0 0 20px 5px rgb(125 140 148 / 10%);
}

.secondary-cta-video.vertical-center.primary-cta.green.hide {
    display: none
}

.container-flip {
    height: auto;
}

.form-cont-btn {
    margin-top: 15px;
}

.primary-cta {
    min-height: 60px;
    margin-right: 40px;
    padding: 18px 26px 18px 29px;
    border-radius: 7px;
    background-color: #17262e;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
    color: #fff;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
    border: 0 solid transparent;
}

.primary-cta:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2)
}

.primary-cta.green {
    flex: 0 auto;
    background-color: #2e4c4e;
    color: #0af0f0;
}

.primary-cta.green.features-heading {
    margin-right: 0
}

.primary-cta.green.features-heading.hide {
    display: none
}

.primary-cta.green.tablet-mb-20:hover {
    box-shadow: none
}

.primary-cta.green.get-started.shout-out-btn {
    padding: 20px 34px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.primary-cta.green.display-none {
    display: none
}

.primary-cta svg {
    width: 20px;
    margin-bottom: -5px;
}


/* Footer
   ========================================================================== */

footer {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
    background: #202020;
    z-index: 2;
}

footer .footer-container {
    width: 100%;
    height: auto;
    padding-top: 40px;
    display: flex;
}

@media only screen and (min-width: 750px){
    footer .footer-container {
        padding-top: 70px;
    }
}

footer .footer-container .wrap {
    padding-bottom: 0;
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}

footer .grid {
    width: 100%;
    height: auto;
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-container .text-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 750px){
    footer .footer-container .text-box {
        width: 30%;
        padding-bottom: 0px;
    }
}

footer .footer-container .text-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin: 0;
    margin-top: 25px;
    color: #E1E4E8;
}

footer .footer-container .text-box .col50 {
    /* width: 43%; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px 25px;
}
@media only screen and (min-width: 750px){
    footer .footer-container .text-box .col50 {
        width: 100%;
    }
}


footer .footer-container .menu-box {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (min-width: 750px){
    footer .footer-container .menu-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 50%;
    }
}

footer .footer-container .menu-box .nav-box {
    padding-left: 0;
    width: auto;
}
@media only screen and (min-width: 750px){
    footer .footer-container .menu-box .nav-box {
        padding-top: 40px;
    }
}

footer .footer-container .menu-box .nav-box h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 0;
    color: #E1E4E8;
}

footer .footer-container .menu-box .nav-box ul {
    padding: 0;
    list-style: none;
    margin-top: 10px;
}

footer .footer-container .menu-box .nav-box ul li {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #E1E4E8;
}

footer .footer-container .menu-box .nav-box ul li a {
    color: #E1E4E8;
}

footer .nav-soci {
    width: 100%;
    border-bottom: 1px solid #828687;
    padding-bottom: 15px;
}

footer .nav-soci .wrap {
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

footer .nav-soci ul {
    width: 100%;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

@media only screen and (min-width: 750px){
    footer .nav-soci ul {
        justify-content: flex-end;
    }
}

footer .nav-soci ul li {
    margin: 0;
    display: flex;
}

footer .nav-soci ul li a {
    padding: 10px;
}

footer .copy-box {
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

footer .copy-box .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 940px;
    height: auto;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 750px){
    footer .copy-box .wrap {
        flex-direction: row;
        align-items: center;
    }
}

footer .copy-box p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    color: #E1E4E8;
}